    @font-face {
        font-family: "Oswald";
        src: url("../fonts/Oswald.ttf") format("truetype");
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #0c0c0c;
        overflow-x: hidden;
    }
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        background-color: #0c0c0c;
        font-family: "Oswald", 'Trebuchet MS', sans-serif;
        height: 100px;
        width: 100%;
        transition: 0.6s;
        z-index: 10000;
    }
    
    header ul {
        display: flex;
        justify-content: center;
    }
    
    header ul li {
        position: relative;
        list-style: none;
    }
    
    header ul li a {
        align-self: center;
        text-decoration: none;
        color: #8c8c8e;
        padding: 20px;
        border-radius: 20px;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    header ul li a:hover,
    header ul li a.active {
        color: #ffffff;
    }
    
    header.sticky {
        position: fixed;
        background: rgb(0, 0, 0);
        height: 60px;
    }
    /* -------------------- 
HOME INTRODUCTION
*/
    
    .introduction {
        display: flex;
        justify-content: center;
        background: black;
    }
    
    .introduction::after {
        content: "";
        position: absolute;
        align-self: flex-end;
        background: linear-gradient(to top, #0c0c0c, transparent);
        width: 100%;
        height: 100px;
        z-index: 1000;
    }
    
    .introduction h1 {
        position: absolute;
        align-self: center;
        font-family: "Oswald", 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #b8b8b8;
        animation: 2s welcome forwards;
    }
    
    @keyframes welcome {
        from {
            margin-right: 30%;
            opacity: 0;
        }
        to {
            margin-left: 0px;
            opacity: 1;
        }
    }
    
    .introduction .image_home {
        pointer-events: none;
        object-fit: contain;
        width: 100%;
        opacity: 0.2;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* -------------------- 
NOUVEAUTE
*/
    
    .nouveaute {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
    .nouveaute .titre {
        margin: 50px 0 0;
        width: 100%;
        text-align: center;
        font-family: "Oswald", 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
    }
    
    .nouveaute .slider {
        margin: 50px 0 100px;
        flex: 1;
        overflow: hidden;
    }
    
    .nouveaute .wrapper {
        position: relative;
        left: 0;
        width: 400%;
    }
    
    .nouveaute .slide {
        display: flex;
        justify-content: center;
        position: relative;
        width: 25%;
        float: left;
    }
    
    .nouveaute .slide a {
        position: absolute;
        align-self: flex-end;
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
        font-family: "Oswald", 'Trebuchet MS', sans-serif;
        text-decoration: none;
        border: 1px solid black;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        background-color: #00000081;
        flex: 1;
        transition: 0.6;
    }
    
    @media (max-width: 800px) {
        .nouveaute .slide a {
            padding: 10px;
            letter-spacing: 1px;
            font-size: 0.8em;
        }
    }
    
    @media (max-width: 400px) {
        .nouveaute .slide a {
            padding: 5px;
            letter-spacing: 0.5px;
            font-size: 0.6em;
        }
    }
    
    .nouveaute .slide img {
        pointer-events: none;
        width: 100%;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .nouveaute .prev,
    .nouveaute .next {
        cursor: pointer;
        font-size: 1.6em;
        color: #fff;
        text-align: center;
        width: 10%;
    }
    /* -------------------- 
ACTUALITE
*/
    
    .actualite {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
    }
    
    .actualite .twitter,
    .actualite .patch {
        overflow-y: scroll;
        height: 700px;
        width: 30%;
        margin: 0 10% 50px;
    }
    
    .actualite .twitter::-webkit-scrollbar,
    .actualite .patch::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }
    
    .actualite .twitter::-webkit-scrollbar-thumb,
    .actualite .patch::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255);
    }
    
    .actualite .twitter::-webkit-scrollbar-track,
    .actualite .patch::-webkit-scrollbar-track {
        background-color: #1f1f1f;
    }
    
    .actualite .twitter::-webkit-scrollbar-thumb:hover,
    .actualite .patch::-webkit-scrollbar-thumb:hover {
        background: rgb(182, 182, 182);
    }
    
    @media (max-width: 800px) {
        .actualite {
            flex-direction: column;
        }
        .actualite .twitter,
        .actualite .patch {
            width: 80%;
        }
    }
    /* -------------------------------------------------------------------------------------- */
    /* -------------------- 
CHARACTER
*/
    
    .character {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 10% 0;
    }
    
    .character .search {
        height: 50px;
        width: 100%;
        margin: 0 0 20px;
        background: #1f1f1f;
    }
    
    .list-character {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 50px;
        gap: 10px;
        width: 100%;
    }
    
    .list-character div {
        min-width: 100px;
        min-height: 100px;
        max-height: 100px;
        max-width: 100px;
        background: #8c8c8e;
    }
    /* -------------------- 
FOOTER
*/
    
    footer {
        display: flex;
        align-items: center;
        font-family: "Oswald", 'Trebuchet MS', sans-serif;
        width: 100%;
        background: #1f1f1f;
        color: #8c8c8e;
    }
    
    footer .wrapper {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin: 0 20% 0;
    }
    
    footer a {
        text-decoration: none;
        color: #8c8c8e;
    }
    
    footer .other {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    footer .other h1 {
        margin: 10px 0 5px;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    footer .other ul {
        margin: 0 0 10px;
    }
    
    footer .other li {
        list-style: none;
    }
    
    footer .other a {
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1em;
    }
    
    footer .other a:hover {
        color: #fff;
    }
    
    footer .social {
        align-self: flex-end;
    }
    
    footer .copyright {
        width: 100%;
        margin-top: 25px;
    }
    
    footer .by {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        margin-bottom: 25px;
    }
    
    footer .by a:hover {
        color: #fff;
    }
    
    footer .bar {
        align-self: center;
        margin-top: 10px;
        width: 100%;
        height: 1px;
        background: #ffffff;
    }